{% extends "layouts/index.html.twig" %}

{% block title %}Задачи{% endblock %}

{% block content %}


          <div class="text-right button-create-div">

              <a href="/create">
                <button type="button" class="btn btn-sm btn-primary btn-create">Создать задачу</button>
              </a>
          </div>


        <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Email</th>
                <th>Image</th>
                <th>Текст</th>
                <th>Статус</th>
                {% if isAdmin %}
                    <th>Управление</th>
                {% endif %}
            </tr>
            </thead>
        </table>



{% endblock %}


{% block javascripts %}
    <script>
        jQuery(document).ready(function() {
            $('#table').DataTable( {
                "ajax": "/api/tasks",
                "searching": false,
                'pageLength': 3,
                "serverSide": true,
                "lengthChange": false,
                "columns": [
                    { "data": "username" },
                    { "data": "email" },
                    { "data": "image" },
                    { "data": "text"},
                    { "data": "executed" }
                ],
                "language": {
                    url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Russian.json"
                },
                "columnDefs": [
                    {
                      "targets": 2,
                        "orderable": false,
                        "render": function ( data, type, row ) {
                            return '<img src="' + data + '" />';
                        }
                    },
                    {
                        "targets": 3,
                        "orderable": false
                    },
                    {
                        "targets": 4,
                        "render": function ( data, type, row ) {
                            if (data) return 'Выполнен';
                            return 'Не выполнен';
                        }
                    },
                    {% if isAdmin %}
                    {
                        "targets": 5,
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="/edit?id=' + row['id'] + '">' +
                            '<button class="btn btn-success">Изменить</button></a>';
                        }
                    }
                    {% endif %}
                ]
            } );
        } );
    </script>
{% endblock %}